<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Register</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Register</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Register</h6>
            <h1 class="mb-5">Register For New Student</h1>
        </div>
        <div class="row g-4 " >

            <div class="col-lg-8 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                <form>
                    <div class="row g-3">
                        <!-- Name -->
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" placeholder="Register Id">
                                <label for="name">Register Id</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" placeholder="Your Name">
                                <label for="name">Name</label>
                            </div>
                        </div>

                        <!-- Father's Name -->
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="father_name" placeholder="Email">
                                <label for="father_name">Email</label>
                            </div>
                        </div>

                        <!-- Mother's Name -->
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="password" class="form-control" id="mother_name" placeholder="Password">
                                <label for="mother_name">Password</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="password" class="form-control" id="mother_name" placeholder="Confirm Password">
                                <label for="mother_name">Confirm Password</label>
                            </div>
                        </div>

                        <!-- Date of Birth -->
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="date" class="form-control" id="dob" placeholder="Date of Birth">
                                <label for="dob">Date of Birth (as per certificate)</label>
                            </div>
                        </div>

                        <!-- Gender -->
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select class="form-control" id="gender">
                                    <option value="" disabled selected>Select Gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                                <label for="gender">Gender</label>
                            </div>
                        </div>

                 

                        <!-- Permanent Address -->
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="perm_address" placeholder="Address">
                                <label for="perm_address">Address</label>
                            </div>
                        </div>

                        <!-- Admission for -->
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select class="form-control" id="admission_for">
                                    <option value="" disabled selected>Select Stream/Field</option>
                                    <option value="science">Science</option>
                                    <option value="arts">Arts</option>
                                    <option value="commerce">Commerce</option>
                                    <!-- Add more options as needed -->
                                </select>
                                <label for="admission_for">Admission for</label>
                            </div>
                        </div>


                        <!-- Submit Button -->
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                        </div>
                        <h6>Have an account? Login here</h6>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

