<div class="container-fluid bg-primary py-5 mb-5 page-header">
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-10 text-center">
            <h1 class="display-3 text-white animated slideInDown">Login</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Login</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Login</h6>
            <h1 class="mb-5">Login login</h1>
        </div>
        <div class="row g-4 ">

            <div class="col-lg-8 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                <form>
                    <div class="row g-3">
                        <!-- Name -->
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" placeholder="Email">
                                <label for="name">Email</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="password" class="form-control" id="name" placeholder="Password">
                                <label for="name">Password</label>
                            </div>
                        </div>


                        <!-- Submit Button -->
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                        </div>
                        <h6>Didn't have account? Sign up here</h6>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
