<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="img/carousel-1.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Online Courses</h5>
                            <h1 class="display-3 text-white animated slideInDown">The Best Online Learning Platform</h1>
                            <p class="fs-5 text-white mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea sanctus eirmod elitr.</p>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="img/carousel-2.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Online Courses</h5>
                            <h1 class="display-3 text-white animated slideInDown">Get Educated Online From Your Home</h1>
                            <p class="fs-5 text-white mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea sanctus eirmod elitr.</p>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <h5 class="mb-3">Skilled Instructors</h5>
                        <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5 class="mb-3">Online Classes</h5>
                        <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <h5 class="mb-3">Home Projects</h5>
                        <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">Book Library</h5>
                        <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<div class="container mt-5">
    <!-- Admission Information -->
    <h2 class="mt-5">Admission Information</h2>
    <hr>
    <p>Our school offers a variety of programs in a modern learning environment with international quality.</p>
    <ul>
        <li>Admission period: 01/06 - 30/08.</li>
        <li>Admission requirements: High school graduation.</li>
        <li>Contact: <a href="mailto:admissions@university.com">admissions@university.com</a>.</li>
    </ul>

    <!-- Program Information -->
    <h2 class="mt-5">Program Information</h2>
    <hr>
    <div class="container mt-5">
        <!-- Course Details -->
        <p>Our school provides a variety of courses in different disciplines. Below are the details:</p>

        <div class="accordion" id="courseDetails">
            <!-- Information Technology -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingIT">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseIT" aria-expanded="true" aria-controls="collapseIT">
                        Information Technology
                    </button>
                </h2>
                <div id="collapseIT" class="accordion-collapse collapse show" aria-labelledby="headingIT" data-bs-parent="#courseDetails">
                    <div class="accordion-body">
                        <ul>
                            <li>Specialized training in programming, cybersecurity, and artificial intelligence</li>
                            <li>Web Development - Duration: 3 months</li>
                            <li>Cybersecurity - Duration: 4 months</li>
                            <li>Artificial Intelligence - Duration: 6 months</li>
                            <li>Data Science - Duration: 5 months</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Business Administration -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingBusiness">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBusiness" aria-expanded="false" aria-controls="collapseBusiness">
                        Business Administration
                    </button>
                </h2>
                <div id="collapseBusiness" class="accordion-collapse collapse" aria-labelledby="headingBusiness" data-bs-parent="#courseDetails">
                    <div class="accordion-body">
                        <ul>
                            <li>Learn how to manage, plan, and strategize business development</li>
                            <li>Project Management - Duration: 4 months</li>
                            <li>Marketing Strategy - Duration: 3 months</li>
                            <li>Corporate Finance - Duration: 5 months</li>
                            <li>Business Data Analysis - Duration: 4 months</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Engineering -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingEngineering">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEngineering" aria-expanded="false" aria-controls="collapseEngineering">
                        Engineering
                    </button>
                </h2>
                <div id="collapseEngineering" class="accordion-collapse collapse" aria-labelledby="headingEngineering" data-bs-parent="#courseDetails">
                    <div class="accordion-body">
                        <ul>
                            <li>Modern engineering practice programs meeting industrial demands</li>
                            <li>Electronics Engineering - Duration: 6 months</li>
                            <li>Circuit Design - Duration: 4 months</li>
                            <li>Industrial Automation - Duration: 5 months</li>
                            <li>Robotics Engineering - Duration: 6 months</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Design -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingDesign">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDesign" aria-expanded="false" aria-controls="collapseDesign">
                        Design
                    </button>
                </h2>
                <div id="collapseDesign" class="accordion-collapse collapse" aria-labelledby="headingDesign" data-bs-parent="#courseDetails">
                    <div class="accordion-body">
                        <ul>
                            <li>Graphic Design - Duration: 3 months</li>
                            <li>UI/UX Design - Duration: 4 months</li>
                            <li>3D Design - Duration: 5 months</li>
                            <li>Video Editing - Duration: 3 months</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Related Articles -->
    <div>
        <h2 class="mt-5">Related Articles</h2>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Technology Trends in 2024</a>
            <a href="#" class="list-group-item list-group-item-action">The Role of Business Management in the Digital Age</a>
            <a href="#" class="list-group-item list-group-item-action">The Importance of STEM Education</a>
        </div>
    </div>
</div>




<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
            <h1 class="mb-5">Our Students Say!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-1.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Client Name</h5>
                <p>Profession</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-2.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Client Name</h5>
                <p>Profession</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-3.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Client Name</h5>
                <p>Profession</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-4.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Client Name</h5>
                <p>Profession</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
