<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Enrollment</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Enrollment</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Enrollment Form</h6>
            <h1 class="mb-5">Enrollment For New Student</h1>
        </div>
        <div class="row g-4">

            <div class="container col-lg-8 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                <form>
                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="email" placeholder="Your Email">
                                <label for="email">Email</label>
                            </div>
                        </div>

                        <!-- Name -->
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" placeholder="Your Name">
                                <label for="name">Name</label>
                            </div>
                        </div>

                        <!-- Date of Birth -->
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="date" class="form-control" id="dob" placeholder="Date of Birth">
                                <label for="dob">Date of Birth (as per certificate)</label>
                            </div>
                        </div>

                        <!-- Gender -->
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select class="form-control" id="gender">
                                    <option value="" disabled selected>Select Gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>
                                <label for="gender">Gender</label>
                            </div>
                        </div>


                        <!-- Admission for -->
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select class="form-control" id="admission_for">
                                    <option value="" disabled selected>Select Stream/Field</option>
                                    <option value="science">Science</option>
                                    <option value="arts">Arts</option>
                                    <option value="commerce">Commerce</option>
                                    <!-- Add more options as needed -->
                                </select>
                                <label for="admission_for">Admission for</label>
                            </div>
                        </div>

                        <!-- Residential Address -->
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="res_address" placeholder="State Address">
                                <label for="res_address">State</label>
                            </div>
                        </div>

                        <!-- Permanent Address -->
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="perm_address" placeholder="City Address">
                                <label for="perm_address">City</label>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="perm_address" placeholder="Street Address">
                                <label for="perm_address">Street</label>
                            </div>
                        </div>

                        <!-- Previous Exam Details Table -->
                        <div class="col-12">
                            <h5>Previous Exam Details</h5>

                            <!-- University & Enrollment Number -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" placeholder="University">
                                        <label>University</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" placeholder="Enrollment Number">
                                        <label>Enrollment Number</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Center & Stream -->
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" placeholder="Stream">
                                        <label>Stream/Field</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" placeholder="Marks Secured">
                                        <label>Marks Secured</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Field, Marks Secured, Out of, and Class Obtained -->
                            <div class="row mt-3">

                                <!-- Registration Major >-->
                                <div class="col-12">
                                    <!-- #region  --><hr>
                                    <br>
                                    <label for="major" class="h5 form-label">Registration Major:</label>
                                    <select id="major" class="form-select">
                                        <option value="IT">Information Technology</option>
                                        <option value="Business">Business Administration</option>
                                        <option value="Engineering">Technique</option>
                                        <option value="Design">Design</option>
                                    </select>
                                </div>

                            </div>
                        </div>


                        <!-- Submit Button -->
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>