<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h4 class="section-title bg-white text-center text-primary px-3">Success</h4>
            <h2 class="mb-5">Your form has been summited! <br />We will contact you soon, Please check email for more details</h2>
        </div>
        <div class="row g-4">


        </div>
    </div>
</div>
